---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import kaffer from "../assets/images/kaffer.webp";
import MorkBorderButton from "../components/MorkBorderButton.astro";
---

<MainLayout title="Abonnement">
  <article class="px-md md:px-xl mt-md pb-xl overflow-hidden">
    <h1 class="h2_grå text-h2_mobil md:text-h2_desk">
      KVALITETSKAFFE DIREKTE TIL DØREN
    </h1>
    <div class="grid lg:grid-cols-2">
      <div>
        <p class="p_grå text-p_stormobil md:text-p_lilledesk pt-md pb-xs">
          Med vores kaffeabonnement får du friskristet kaffe leveret direkte til
          din postkasse – helt efter dine præferencer. Vælg mellem forskellige
          typer og leveringsintervaller, så du altid har din favoritkaffe lige
          ved hånden.
        </p>

        <div class="grid grid-cols-2 py-s">
          <div>
            <p class="p_grå text-p_stormobil md:text-p_lilledesk">
              2 ugers abonnement fra:
            </p>
            <p class="p_grå text-p_stormobil md:text-p_lilledesk">
              4 ugers abonnement fra:
            </p>
          </div>
          <div>
            <p class="p_grå text-p_stormobil md:text-p_lilledesk">
              240 DKK / 2 uger
            </p>
            <p class="p_grå text-p_stormobil md:text-p_lilledesk">
              315 DKK / 4 uger
            </p>
          </div>
        </div>

        <div class="grid grid-cols-2 pb-md pt-s absolute z-34">
          <MorkBorderButton class="flex items-center space-x-2">
            ABONNEMENT FAQ
          </MorkBorderButton>
          <a href="/abonnement1"><Button>FIND ABONNEMENT</Button></a>
        </div>
      </div>
      <Image
        src={kaffer}
        alt="billeder af 4 kaffeposer"
        class="z-10 md:-mt-md"
        loading="lazy"
      />
    </div>
    <section class="absolute z-0 right-0 top-[18%] hidden md:block">
      <div class="mangeelementerinview grid grid-cols-1 gap-4 relative z-0">
        <!-- Første række (3 trekant) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer1"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer1"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer1"
          >
          </div>
        </div>

        <!-- Anden række (6 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer2"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer3"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer2"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer3"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer2"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer3"
          >
          </div>
        </div>

        <!-- Tredje række (9 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer4"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer5"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer6"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer4"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer5"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer6"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer4"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer5"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer6"
          >
          </div>
        </div>

        <!-- Fjerde række (12 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer7"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer8"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer9"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer10"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer7"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer8"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer9"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer10"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer7"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer8"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer9"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer10"
          >
          </div>
        </div>

        <!-- Fjemte række (15 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer11"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer12"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer13"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer14"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer15"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer11"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer12"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer13"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer14"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer15"
          >
          </div><div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer11"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer12"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer13"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer14"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer15"
          >
          </div>
        </div>
        <!-- Sjette række (18 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer16"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer17"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer18"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer19"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer20"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer21"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer16"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer17"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer18"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer19"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer20"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer21"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer16"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer17"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer18"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer19"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer20"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer21"
          >
          </div>
        </div>
        <!-- Syvende række (21 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer22"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer23"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer24"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer25"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer26"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer27"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer28"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer22"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer23"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer24"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer25"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer26"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer27"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer28"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer22"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer23"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer24"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer25"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer26"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer27"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer28"
          >
          </div>
        </div>
        <!-- Ottende række (24 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer29"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer30"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer31"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer32"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer33"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer34"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer35"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer36"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer29"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer30"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer31"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer32"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer33"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer34"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer35"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer36"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer29"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer30"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer31"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer32"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer33"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer34"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer35"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer36"
          >
          </div>
        </div>
        <!-- Niende række (27 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer37"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer38"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer39"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer40"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer41"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer42"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer43"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer44"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer45"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer37"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer38"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer39"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer40"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer41"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer42"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer43"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer44"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer45"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer37"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer38"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer39"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer40"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer41"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer42"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer43"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer44"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer45"
          >
          </div>
        </div>
        <!-- Tiende række (30 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
        </div>
        <!-- Elleve række (33 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
        </div>
        <!-- Tolvte række (36 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-grøn-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
        </div>
      </div>
    </section>
  </article>

  <script>
    // <-- inview trekanter -->
    import { inView } from "motion";
    import { animate } from "motion";

    inView(".mangeelementerinview", () => {
      for (let i = 1; i <= 60; i++) {
        animate(
          `.mangeelementer${i}`,
          { x: [-2000 + i * 50, 0], y: [-50 + i * 10, 0] },
          { duration: 1 + (i % 3) }
        );
      }
    });
  </script>
</MainLayout>
