---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Abonnement">
  <section class="px-md md:px-xl">
    <h1 class="text-h2_mobil md:text-h2_desk h1_grå">ABONNEMENT</h1>
    <hr class="w-full border-grå-900 border" />
    <div
      class="breadcrumb flex justify-between text-p_mobil md:text-p_lilledesk p_grå pb-lg"
    >
      <a href="/abonnement1" class="hidden md:block hover:underline"
        >1. Vælg Kaffe</a
      >
      <a href="/abonnement2" class="font-bold hover:underline"
        >2. Vælg Abonnement</a
      >
      <a href="/abonnement3" class="hidden md:block hover:underline"
        >3. Vælg Frekvensen</a
      >
      <a href="/abonnement4" class="hidden md:block hover:underline"
        >4. Føj til Kurven</a
      >
    </div>
  </section>

  <section class="px-md md:px-xl pb-lg">
    <div class="md:grid md:grid-cols-2 gap-8">
      <div
        class="bg-grå-300 px-md py-md mb-md md:mb-0 lg:flex lg:flex-col lg:justify-between"
      >
        <h2 class="text-h2_mobil md:text-h2_desk h2_grå text-center">
          VI OVERRASKER DIG
        </h2>

        <p class="text-p_stormobil md:text-p_lilledesk text-center p_grå py-s">
          To unikke kaffer af eksklusive mikrohøste hver måned. Dette inkluderer
          specialristninger og først til de nye høste fra farmerne.
        </p>

        <a class="grid justify-items-center lg:mt-auto flex" href="/abonnement3"
          ><Button>VÆLG</Button></a
        >
      </div>

      <div class="bg-grøn-300 p-md">
        <h2 class="text-h2_mobil md:text-h2_desk h2_grå text-center">
          DU VÆLGER SELV
        </h2>

        <p class="text-p_stormobil md:text-p_lilledesk text-center p_grå py-s">
          Få dine favoritkaffer leveret lige til døren, så du aldrig løber tør.
          Vores kaffer er sæsonbestemte, så abonnementet vil løbe så længe
          høsten tillader det.
        </p>

        <a class="grid justify-items-center" href="/abonnement3"
          ><Button>VÆLG</Button></a
        >
      </div>
    </div>
  </section>
</MainLayout>
