---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import kaffer from "../assets/images/kaffer.webp";
import MorkBorderButton from "../components/MorkBorderButton.astro";
---

<MainLayout title="Abonner">
  <article class="relative px-md md:px-xl pt-s pb-xl overflow-hidden">
    <!-- Baggrundsmønster med små trekanter i højre nederste trekant -->
    <div class="absolute bottom-0 right-0 w-[80vw] h-[80vh] z-[-1]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid slice"
        class="w-full h-full opacity-40"
      >
        <defs>
          <pattern
            id="triangle-pattern"
            width="10"
            height="10"
            patternUnits="userSpaceOnUse"
          >
            <polygon points="0,10 5,0 10,10" fill="#d4cbb8"></polygon>
          </pattern>
        </defs>
        <!-- Afgrænser området til at være trekantet -->
        <rect
          width="100%"
          height="100%"
          fill="url(#triangle-pattern)"
          clip-path="polygon(0% 100%, 100% 100%, 100% 0%)"></rect>
      </svg>
    </div>

    <h1 class="h2_grå text-h2_mobil md:text-h2_desk">
      KVALITETSKAFFE DIREKTE TIL DØREN
    </h1>
    <div class="grid lg:grid-cols-2">
      <div>
        <p class="p_grå text-p_mobil md:text-p_lilledesk py-xs">
          Med vores kaffeabonnement får du friskristet kaffe leveret direkte til
          din postkasse – helt efter dine præferencer. Vælg mellem forskellige
          typer og leveringsintervaller, så du altid har din favoritkaffe lige
          ved hånden.
        </p>

        <div class="grid grid-cols-2 py-s">
          <div>
            <p class="p_grå text-p_mobil md:text-p_lilledesk">
              2 ugers abonnement fra:
            </p>
            <p class="p_grå text-p_mobil md:text-p_lilledesk">
              4 ugers abonnement fra:
            </p>
          </div>
          <div>
            <p class="p_grå text-p_mobil md:text-p_lilledesk">
              240 DKK / 2 uger
            </p>
            <p class="p_grå text-p_mobil md:text-p_lilledesk">
              315 DKK / 4 uger
            </p>
          </div>
        </div>

        <div class="grid grid-cols-2 pb-md">
          <MorkBorderButton>ABONNEMENT FAQ</MorkBorderButton>
          <a href="/abonnement1"><Button>FIND ABONNEMENT</Button></a>
        </div>
      </div>
      <Image src={kaffer} alt="billeder af 4 kaffeposer" />
    </div>
  </article>
</MainLayout>
