---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import filterkaffe from "../assets/images/filterkaffe.webp";
import espressokaffe from "../assets/images/espressokaffe.webp";
---

<MainLayout title="Abonnement">
  <section class="px-md md:px-xl">
    <h1 class="text-h2_mobil md:text-h2_desk h1_grå">ABONNEMENT</h1>
    <hr class="w-full border-grå-900 border" />
    <div
      class="breadcrumb flex justify-between text-p_mobil md:text-p_lilledesk p_grå pb-lg"
    >
      <a href="/abonnement1" class="font-bold hover:underline">1. Vælg Kaffe</a>
      <a href="/abonnement2" class="hidden md:block hover:underline"
        >2. Vælg Abonnement</a
      >
      <a href="/abonnement3" class="hidden md:block hover:underline"
        >3. Vælg Frekvensen</a
      >
      <a href="/abonnement4" class="hidden md:block hover:underline"
        >4. Føj til Kurven</a
      >
    </div>
  </section>

  <section class="px-md md:px-xl pb-lg">
    <div class="md:grid md:grid-cols-2 gap-8">
      <div
        class="bg-grå-300 px-md py-md mb-md md:mb-0 lg:flex lg:flex-col lg:justify-between"
      >
        <h2 class="text-h2_mobil md:text-h2_desk h2_grå text-center">FILTER</h2>
        <Image
          src={filterkaffe}
          alt="billeder af 3 filter kaffeposer"
          class="mx-auto lg:h-[200px] lg:w-auto"
        />

        <p class="text-p_stormobil md:text-p_lilledesk text-center p_grå py-s">
          Hele bønner. Gode til Kalita Wave, AeroPress, V60, French press og
          filtermaskiner.
        </p>

        <a class="grid justify-items-center lg:mt-auto flex" href="/abonnement2"
          ><Button>VÆLG</Button></a
        >
      </div>

      <div class="bg-grøn-300 p-md lg:flex lg:flex-col lg:justify-between">
        <h2 class="text-h2_mobil md:text-h2_desk h2_grå text-center">
          ESPRESSO
        </h2>
        <Image
          src={espressokaffe}
          alt="billeder af 3 espresso kaffeposer"
          class="mx-auto lg:h-[200px] lg:w-auto"
        />
        <p class="text-p_stormobil md:text-p_lilledesk text-center p_grå py-s">
          Hele bønner. Gode til espressomaskine og mokkakande.
        </p>

        <a class="grid justify-items-center lg:mt-auto flex" href="/abonnement2"
          ><Button>VÆLG</Button></a
        >
      </div>
    </div>
  </section>
</MainLayout>
