---
import Card_shop from "../components/Card_shop.astro";
---

<article class="lg:mx-xl">
  <section class="mt-xl">
    <div class="flex">
      <h2 class="text-h3_mobil lg:px-xs lg:text-h3_desk">Filter</h2>
      <h2 class="text-h3_mobil lg:px-xs lg:text-h3_desk">Espresso</h2>
    </div>
    <hr class="w-full border border-black" />
  </section>
  <section class="my-xl bg-rød-400">
    <h2 class="text-h3_desk">Filter</h2>
    <div class="grid grid-cols-2 lg:grid-cols-3 justify-items-center">
      <Card_shop
        cardimage="bekele.avif"
        cardimagealt="Bekele"
        kaffenavn="Bekele"
      />
      <Card_shop cardimage="aga.avif" cardimagealt="Aga" kaffenavn="Aga" />
      <Card_shop
        cardimage="gichathaini.avif"
        cardimagealt="Gichathaini"
        kaffenavn="Gichathaini"
      />
      <Card_shop
        cardimage="julekaffe.avif"
        cardimagealt="julekaffe"
        kaffenavn="Julekaffe Perez"
      />
      <Card_shop
        cardimage="kieni.avif"
        cardimagealt="kieni"
        kaffenavn="Kieni"
      />
      <Card_shop
        cardimage="silvia.avif"
        cardimagealt="silvia"
        kaffenavn="Silvia"
      />
      <Card_shop
        cardimage="takesi.avif"
        cardimagealt="takesi"
        kaffenavn="Takesi Gesha"
      />
      <Card_shop
        cardimage="vista.avif"
        cardimagealt="vista"
        kaffenavn="Vista Hermosa"
      />
    </div>
  </section>
  <section class="">
    <h2 class="text-h3_desk">Filter</h2>
    <div class="grid grid-cols-2 lg:grid-cols-3 justify-items-center">
      <Card_shop
        cardimage="aga_es.avif"
        cardimagealt="aga espresso"
        kaffenavn="Aga Espresso"
      />
      <Card_shop
        cardimage="vista_es.avif"
        cardimagealt="vista espresso"
        kaffenavn="Vista Hermosa Espresso"
      />
      <Card_shop
        cardimage="kieni_es.avif"
        cardimagealt="kieni espresso"
        kaffenavn="Kieni Espresso"
      />
      <Card_shop
        cardimage="blend_es.avif"
        cardimagealt="espresso blend"
        kaffenavn="Espresso Blend"
        <
        section
      />
    </div>
  </section>
</article>
