---
import Card_shop from "../components/Card_shop.astro";
---

<article>
  <section>
    <h2>Filter</h2>
    <h2>Espresso</h2>
  </section>
  <section class="bg-grå-400 grid lg:grid-cols-4">
    <Card_shop
      cardimage="bekele.avif"
      cardimagealt="Bekele"
      kaffenavn="Bekele"
    />
    <Card_shop cardimage="aga.avif" cardimagealt="Aga" kaffenavn="Aga" />
    <Card_shop
      cardimage="gichathaini.avif"
      cardimagealt="Gichathaini"
      kaffenavn="Gichathaini"
    />
    <Card_shop
      cardimage="julekaffe.avif"
      cardimagealt="julekaffe"
      kaffenavn="Julekaffe Perez"
    />
    <Card_shop cardimage="kieni.avif" cardimagealt="kieni" kaffenavn="Kieni" />
    <Card_shop
      cardimage="silvia.avif"
      cardimagealt="silvia"
      kaffenavn="Silvia"
    />
    <Card_shop
      cardimage="takesi.avif"
      cardimagealt="takesi"
      kaffenavn="Takesi Gesha"
    />
    <Card_shop
      cardimage="vista.avif"
      cardimagealt="vista"
      kaffenavn="Vista Hermosa"
    />
  </section>
  <section class="">
    <Card_shop />
  </section>
</article>
