---
import Card_shop from "../components/Card_shop.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Coffee Collective">
  <article class="">
    <section class="py-s md:pt-md md:px-xl px-md">
      <h1 class="text-h2_mobil md:text-h2_desk pb-lg h3_grå">VORES KAFFE</h1>
      <div class="flex">
        <a
          href="#filter-section"
          class="text-h3_mobil font-khand uppercase pr-s md:pr-s lg:text-h3_desk hover:font-medium h2_grå"
          >Filter</a
        >
        <a
          href="#espresso-section"
          class="text-h3_mobil md:px-xs md:text-h3_desk font-khand uppercase hover:font-medium h2_grå"
          >Espresso</a
        >
      </div>
      <hr class="w-full border border-black" />
    </section>
    <section id="filter-section" class="py-s md:py-xl bg-grå-400 md:px-xl">
      <h2
        class="text-h2_mobil md:text-h3_desk font-khand uppercase px-md md:px-0 h2_grå"
      >
        Filter
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-3 justify-items-center font-montserrat"
      >
        <Card_shop
          cardimage="/bekele.webp"
          cardimagealt="Bekele"
          badgeudsolgt="true"
          kaffenavn="Bekele"
          info="Anaerobic Natural"
          smag="Sød og fyldig"
          pris="159 DKK"
        />

        <Card_shop
          cardimage="/aga.webp"
          cardimagealt="Aga kaffepose"
          kaffenavn="Aga"
          info=""
          smag="Let og elegant med forfriskende syre"
          pris="139 DKK"
        />
        <Card_shop
          cardimage="/gichathaini.webp"
          cardimagealt="Gichathaini kaffepose"
          kaffenavn="Gichathaini"
          info=""
          smag="Frisk, sød og frugtig"
          pris="151 DKK"
        />
        <Card_shop
          cardimage="/julekaffe.webp"
          cardimagealt="julekaffe kaffepose"
          kaffenavn="Julekaffe Perez"
          info="Økologisk"
          smag="Ren og elegant med god sødme"
          pris="139 DKK"
        />
        <Card_shop
          cardimage="/kieni.webp"
          cardimagealt="kieni kaffepose"
          kaffenavn="Kieni"
          info=""
          smag="Sød og fyldig med aroma af solbær"
          pris="142 DKK"
        />
        <Card_shop
          cardimage="/silvia.webp"
          cardimagealt="silvia kaffepose"
          kaffenavn="Silvia"
          info="Økologisk"
          smag="Fyldig og sød"
          pris="147 DKK"
        />
        <Card_shop
          cardimage="/takesi.webp"
          cardimagealt="takesi kaffepose"
          kaffenavn="Takesi Gesha"
          info="Max 10 poser pr. kunde"
          smag="Elegant, fyldig og utrolig sød"
          pris="300 DKK"
        />
        <Card_shop
          cardimage="/vista.webp"
          cardimagealt="vista kaffepose"
          kaffenavn="Vista Hermosa"
          info=""
          smag="Frisk, sød og cremet"
          pris="135 DKK"
        />
      </div>
    </section>
    <section id="espresso-section" class="py-s md:py-xl bg-grøn-300 md:px-xl">
      <h2
        class="text-h2_mobil md:text-h3_desk font-khand uppercase px-md md:px-0 h2_grå"
      >
        Espresso
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-3 justify-items-center font-montserrat"
      >
        <Card_shop
          cardimage="/aga_es.webp"
          cardimagealt="aga espresso kaffepose"
          kaffenavn="Aga Espresso"
          info="Økologisk"
          smag="Ren og frisk espresso"
          pris="139 DKK"
        />
        <Card_shop
          cardimage="/vista_es.webp"
          cardimagealt="vista espresso kaffepose"
          kaffenavn="Vista Hermosa Espresso"
          info=""
          smag="Sød og ren espresso"
          pris="135 DKK"
        />
        <Card_shop
          cardimage="/kieni_es.webp"
          cardimagealt="kieni espresso kaffepose"
          kaffenavn="Kieni Espresso"
          info=""
          smag="Syrlig og olieret espresso"
          pris="142 DKK"
        />
        <Card_shop
          cardimage="/blend_es.webp"
          cardimagealt="espresso blend kaffepose"
          kaffenavn="Espresso Blend"
          info="35% Jose + 35% Vista Hermosa + 30% Reshad"
          smag="Fyldig, sød og cremet espresso"
          pris="132 DKK"
        />
      </div>
    </section>
  </article>
</MainLayout>
