---
import MainLayout from "../layouts/MainLayout.astro";
import BorderButton from "../components/BorderButton.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import kaffekopper from "../assets/images/kaffekopper.png";
---

<MainLayout title="Tak for din bestilling">
  <section class="px-xl pb-lg">
    <Image
      src={kaffekopper}
      alt="billeder af 2 kaffekopper"
      class="mx-auto pt-lg"
    />
    <h1
      class="font-khand text-h2_mobil md:text-h1_desk h1_grå text-center font-bold py-s md:py-md"
    >
      TAK FOR DIN BESTILLING!
    </h1>
    <p class="font-montserrat text-p_mobil md:text-p_desk p_grå text-center">
      Vi har modtaget din ordre, og vi er allerede i gang med at forberede den.
      Du vil modtage en ordrebekræftelse på e-mail med alle detaljer om dit køb.
    </p>

    <p
      class="font-bold pt-s pb-xs font-montserrat text-p_mobil md:text-p_desk p_grå text-center"
    >
      Tak for at du handlede hos os!
    </p>
    <p class="font-montserrat text-p_mobil md:text-p_desk p_grå text-center">
      Vi håber, du nyder din bæredygtige kvalitetskaffe fra Coffee Collective!
    </p>
  </section>
</MainLayout>
