---
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import certi from "../assets/images/b_certi.png";
---

<section class="mx-s md:mx-xl mt-md">
  <section
    class="p_grå grid grid-cols-2 md:grid-cols-3 gap-8 text-p_mobil md:text-p_desk pb-s md:pb-md"
  >
    <div>
      <p class="uppercase">Adresse</p>
      <p>
        Coffee Collective <br /> Godthåbsvej 34B <br /> 2000 Frederiksberg
      </p>
    </div>
    <div>
      <p class="uppercase">Kontakt</p>
      <p>mail@coffeecollective.dk</p>
      <p>+45 60 15 15 25 (09.00 - 15.00)</p>
    </div>
    <div class="grid grid-row-1">
      <p class="uppercase">Følg</p>
      <a
        href="https://www.facebook.com/thecoffeecollective/"
        target="_blank"
        class="hover:underline">Facebook</a
      >
      <a
        href="https://www.instagram.com/coffeecollectif/"
        target="_blank"
        class="hover:underline">Instagram</a
      >
      <a
        href="https://x.com/i/flow/login?redirect_after_login=%2Fcoffeecollectif"
        target="_blank"
        class="hover:underline">Twitter</a
      >
    </div>
  </section>
  <section
    class="p_grå
text-p_mobil md:text-p_desk md:flex flex-row justify-between items-center my-xs mb-s"
  >
    <a href="/">
      <svg
        width="256"
        height="52"
        viewBox="0 0 556 52"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-labelledby="svg-title"
      >
        <title id="svg-title">Coffee Collectives logo</title>
        <g clip-path="url(#clip0_215_248)">
          <path
            d="M372.666 28.3118V44.2932H392.833V51.0207H364.457V0.9815H392.257V7.709H372.666V21.5865H391.105V28.3118H372.666ZM504.245..."
            fill="#304878"></path>
        </g>
        <defs>
          <clipPath id="clip0_215_248">
            <rect width="556" height="52" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
    <div class="grid grid-cols-2 md:flex gap-60 md:gap-0">
      <div class="md:flex flex-row gap-10">
        <p class="md:text-p_lilledesk">Cookie samtykke</p>
        <p class="md:text-p_lilledesk">Jobs</p>
        <p class="md:text-p_lilledesk">Terms & conditions</p>
        <p class="md:text-p_lilledesk">Privatlivspolitik</p>
        <p class="md:text-p_lilledesk">Kontrolrapport</p>
      </div>

      <div>
        <Image
          src={certi}
          alt="billeder af b-certifikat"
          class="w-[90px] h-[60px]"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</section>
