---
import Link from "../components/Link.astro";
---

<div x-data="{ showmenu: false }" class="p-4 relative z-50 font-khand">
  <div
    id="navbar"
    class="flex flex-row justify-between py-xxs px-2 items-center text-h4_desk md:mx-xl"
  >
    <!-- Grid Menu -->
    <ul class="hidden md:grid grid-cols-2 text-grøn-700 open-sans items-center">
      <li>
        <Link href="/shop" class="p-1">SHOP</Link>
      </li>
      <li>
        <Link href="/abonner" class="p-1">ABONNEMENT</Link>
      </li>
    </ul>

    <a href="/">
      <svg
        width="256"
        height="52"
        viewBox="0 0 556 52"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_215_248)">
          <path
            d="M372.666 28.3118V44.2932H392.833V51.0207H364.457V0.9815H392.257V7.709H372.666V21.5865H391.105V28.3118H372.666ZM504.245 40.9283L513.465 0.9815H522.179L509.214 51.0207H498.772L486.671 0.9815H495.387L504.101 40.9283H504.245ZM472.693 51.0207V0.9815H480.905V51.0207H472.693ZM434.134 7.709V0.9815H466.615V7.709H454.586V51.0207H446.377V7.709H434.134ZM417.053 7.15C408.749 7.852 408.702 10.4867 408.702 26.1083C408.702 41.7322 408.749 44.148 417.053 44.8522C420.462 44.9865 424.498 44.3993 426.583 43.862L428.076 50.3772C423.373 51.2698 420.154 51.6252 417.126 51.545C401.596 51.1333 400.493 45.162 400.493 26.2297V25.7725C400.493 6.838 401.596 0.8645 417.126 0.457167C420.154 0.377 423.373 0.730167 428.076 1.625L426.583 8.138C424.5 7.60067 420.462 7.01567 417.053 7.15ZM535.833 44.2932H556V51.0185H527.624V0.9815H555.424V7.709H535.833V21.5843H554.272V28.314H535.833V44.2932ZM338.783 0.9815V44.2932H358.662V51.0207H330.574V0.9815H338.783ZM305.514 0.9815V44.2932H325.393V51.0207H297.305V0.9815H305.514ZM273.193 45.9745C278.334 45.9745 282.419 42.9607 282.419 25.7898C282.419 8.97 278.334 6.02767 273.193 6.02767C268.052 6.02767 263.969 8.97 263.969 25.7898C263.969 42.9607 268.052 45.9745 273.193 45.9745ZM273.193 0C285.593 0 291.041 8.12933 291.041 26C291.041 43.8707 285.593 52 273.193 52C260.793 52 255.346 43.8707 255.346 26C255.346 8.12933 260.793 0 273.193 0ZM241.51 7.15C233.205 7.852 233.159 10.4867 233.159 26.1083C233.159 41.7322 233.205 44.148 241.51 44.8522C244.921 44.9865 248.955 44.3993 251.04 43.862L252.535 50.3772C247.832 51.2698 244.611 51.6252 241.583 51.545C226.055 51.1333 224.952 45.162 224.952 26.2297V25.7725C224.952 6.838 226.053 0.8645 241.583 0.457167C244.611 0.377 247.83 0.730167 252.535 1.625L251.04 8.138C248.957 7.60067 244.919 7.01567 241.51 7.15ZM184.853 28.3118V44.2932H205.02V51.0207H176.644V0.9815H204.444V7.709H184.853V21.5865H203.29V28.3118H184.853ZM150.222 7.709V44.291H170.389V51.0207H142.013V0.9815H169.813V7.709H150.222ZM168.661 20.2497L157.84 30.7797V20.2497H168.661ZM107.698 51.0207V0.9815H135.137V7.709H115.907V21.5843H133.983V28.3118H115.907V51.0185L107.698 51.0207ZM73.3809 51.0207V0.9815H100.822V7.709H81.5924V21.5843H99.668V28.3118H81.5924V51.0185L73.3809 51.0207ZM48.3166 45.9723C53.458 45.9723 57.5427 42.9607 57.5427 25.7898C57.5427 8.97 53.458 6.02767 48.3166 6.02767C43.1731 6.02767 39.0906 8.97 39.0906 25.7898C39.0906 42.9607 43.1731 45.9723 48.3166 45.9723ZM48.3166 0C60.717 0 66.1618 8.12933 66.1618 26C66.1618 43.8707 60.717 52 48.3166 52C35.9163 52 30.4692 43.8707 30.4692 26C30.4692 8.12933 35.9163 0 48.3166 0ZM16.5604 7.15C8.25582 7.852 8.20931 10.4867 8.20931 26.1083C8.20931 41.7322 8.25582 44.148 16.5604 44.8522C19.9695 44.9865 24.0033 44.4015 26.0899 43.862L27.5829 50.3772C22.8802 51.2698 19.6616 51.6252 16.6335 51.545C1.10314 51.1333 0 45.162 0 26.2297V25.7725C0 6.838 1.10314 0.8645 16.6335 0.455C19.6616 0.374833 22.8802 0.728 27.5829 1.62283L26.0899 8.13583C24.0033 7.5985 19.9695 7.01567 16.5604 7.15Z"
            fill="#465347"></path>
        </g>
        <defs>
          <clipPath id="clip0_215_248">
            <rect width="556" height="52" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>

    <div>
      <!-- Desktop menu -->
      <nav id="desktopmenu" class="hidden lg:block">
        <ul class="flex flex-row gap-6 text-grøn-700 items-center">
          <li><Link href="/omos">OM OS</Link></li>

          <li>
            <Link href="/logind">KONTO</Link>
          </li>
        </ul>
      </nav>

      <!-- Mobile menu -->
      <nav
        id="mobilmenu"
        class="fixed inset-0 flex flex-col bg-brun-50 z-200 pt-32"
        x-show="showmenu"
        x-transition
        x-on:click="showmenu = false"
        x-on:click.outside="showmenu = false"
      >
        <button class="absolute top-5 right-5" x-on:click="showmenu = false">
          <!-- Kryds -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#465347"
            class="w-9 h-9"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
        <ul class="flex flex-col gap-6 text-center text-grøn-700">
          <li>
            <Link href="/shop" class="p-1">SHOP</Link>
          </li>
          <li><Link href="/abonner">ABONNEMENT</Link></li>
          <li><Link href="/omos">OM OS</Link></li>

          <li>
            <Link href="">KONTO</Link>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Burger menu button -->
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
      <!-- Burger -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#465347"
        viewBox="0 0 20 20"
        class="w-8 h-9"
        x-show="!showmenu"
      >
        <path
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</div>
