---

---

<div class="relative group inline-block">
  <button
    class="relative border border-gr책-900 text-gr책-900 hover:text-gr책-50 text-h4_mobil md:text-h4_desk font-khand px-s py-xxs overflow-hidden"
  >
    <span class="relative z-10"><slot /></span>
    <span
      class="absolute inset-0 bg-gr책-900 transition-all transform scale-x-0 group-hover:scale-x-100 origin-left duration-300"
    ></span>
  </button>
</div>
