---

---

<div class="relative group inline-block">
  <button
    class="relative bg-rød-600 text-brun-50 hover:text-rød-600 text-h4_mobil lg:text-h4_desk font-khand px-s py-xxs overflow-hidden"
  >
    <span class="relative z-10"><slot /></span>
    <span
      class="absolute inset-0 bg-white transition-transform transform scale-x-0 group-hover:scale-x-100 origin-left duration-300"
    ></span>
  </button>
</div>
