---

---

<div>
  <button
    class="relative border border-grå-50 text-grå-50 text-h4_mobil md:text-h4_desk font-khand px-xs py-xxs overflow-hidden group hover:border-transparent"
  >
    <span
      class="relative z-10 transition-colors duration-300 group-hover:text-grå-50"
      ><slot /></span
    >
    <span
      class="absolute inset-0 bg-rød-600 transition-all transform scale-x-0 group-hover:scale-x-100 origin-left duration-300 z-0"
    ></span>
  </button>
</div>
